.wrapper{
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    position: relative;
    height: 100%;
}

.cart-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.cart-container {
    width: 83%;
    min-height: 709px;
}

.cart {
    width: 60%;
    min-height: 255px;
    margin: 50px;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
}

.header {
    width: 100%;
    margin-top: 17px;
}

.header > h3 {
    margin-left: 40px;
}

.books {
    width: 100%;
    min-height: 160px;
    display: flex;
    flex-direction: column;
}

.books-disable {
    display: none;
}

.book-details {
    width: 390px;
    height: 140px;
    margin-left: 40px;
    margin-top: 25px;
}

.place-order-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    height: 53px;
}

.place-order-button-disable {
    display: none;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.visible {
    color: #fff;
    width: 20%;
    border-radius: 0;
    height: 35px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.disable {
    visibility: hidden;
}

.customer-details {
    width: 60%;
    min-height: 60px;
    margin: 50px;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
}

.customer-form {;
    width: 100%;
    height: 499px;
}

.customer-form-disable {
    display: none;
}

.order-summary {
    width: 60%;
    min-height: 60px;
    margin: 50px;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
}

.cart-footer {
    width: 100%;
    height: 50%;
}