.container1 {
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    position: relative;
    height: 100%;
}

.navbar {
    width: 100%;
    height: 8%;
    position: sticky;
    z-index: 9999;
}

.flex-container-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.flex-container {
    width: 81.4%;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    min-height: 589px;
}

.flex-container > div {
    width: 300px;
    margin: 20px;
    height: 380px;
    border: 1px solid #F0F0F0;
}

.userfooter {
    width: 100%;
    height: 50%;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-page.MuiPaginationItem-rounded.Mui-selected{
    background-color: rgb(150, 0, 0);
    color: white;
}

.description {
    width : 95%;
    height: 95%;
}

.count-and-filter-container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 60px;
}

.count-and-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 81.4%;
}

.image-not-found{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 38.2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
}

.count {
    width: 300px;
    margin: 20px;
    height: 30px;
}

.book-count {
    font-size: 15px;
    color: grey;
    margin: 5px;
}

.filterstyle{
    width: 300px;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

.selectfield{
    background-color: white;
    width:60%;
    border: 2px solid #F0F0F0;
    border-radius: 0.5px;
    overflow: hidden;
    padding-left: 5px;
    height: 12%;
    font-family: "Arial Rounded MT Bold";
}

::-webkit-scrollbar {
    width: 24px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #bfbfbf; 
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #bfbfbf; 
  }

@media only screen and (max-width: 414px) and (max-height: 823px ) {
    .flex-container {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .count-and-filter{
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .selectfield{
        width: 100%;
        height: 10%;
    }
}

@media only screen and (min-width: 768px) and (min-height: 1024px ) {
    .flex-container {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .count-and-filter{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (width: 1024px) and (height: 1366px ) {
    .flex-container > div {
        width: 299px;
    }
    .count {
        width: 470px;
    }
    .filterstyle{
        width: 470px;
    }
}