*{
    margin: 0px;
    padding: 0px;
}

.cards:hover{
    box-shadow: 3px 3px #E0E0E0;
}

.info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85.5%;
    width: 40%;
    font-size: 20px;
    color: transparent;
}

.data-tooltip{
    z-index: 1;
    position: absolute;
    padding: 20px;
    min-width: 258px;
    min-height: 340px;
    background-color: rgb(145, 10, 10);
    border: 1px solid #ccc;
    visibility:hidden;
    margin-top: 30%;
    color: white;
    opacity: 0.8;
    backdrop-filter: blur(10px);
}

.description-text {
    margin-top: 3%;
    font-size: large;
    color: white;
}

.info:hover +.data-tooltip {
    visibility: visible;
}

button.MuiButtonBase-root.MuiCardActionArea-root{
    width: 100%;
    display: block;
    text-align: inherit;
    background-color: #F0F0F0;
    height: 54%;
    display: flex;
}

.MuiCardMedia-root.media{
    width: 40%;
    height: 175px;
}

h6.MuiTypography-root.MuiTypography-h6.MuiTypography-gutterBottom {
    font-size: 1.1rem;
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
}

p.MuiTypography-root.MuiTypography-body2.MuiTypography-colorTextSecondary {
    line-height: 0;
    text-align: left;
}

h2.MuiTypography-root.MuiTypography-h6.MuiTypography-gutterBottom {
    font-size: 0.9rem;
    text-align: left;
    font-weight: bold;
    line-height: 3.35;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.card-button-before-click {
    color: #fff;
    background-color: rgb(145,10,10);
    width: 100%;
    border-radius: 0;
    }
    
    button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.card-button-after-click {
    color: #fff;
    background-color: dodgerblue !important;
    width: 100%;
    border-radius: 0;
    }

#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 60%;
    font-size: 20px;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

@media only screen and (width: 1024px) and (height: 1366px ) {
    h6.MuiTypography-root.MuiTypography-h6.MuiTypography-gutterBottom{
        font-size: 17.5px;
    }
}