element.style {
}

.maintoolbar{
    width:84%;
    height: fit-content;
    margin-left: 14%;
}

svg.MuiSvgIcon-root.bookIcon{
    font-size: 2.0rem;
    margin-top: 9px;
}

h6.MuiTypography-root.title.MuiTypography-h6.MuiTypography-noWrap{
    width:207px;
}

.logo{
    width: 5%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.title {
    display: flex;
    padding-left: 1%;
    width: 18%;
}

.search {
    position: relative;
    border-radius: 2px;
    background-color: white;
    margin-left: 35px;;
    width: 42%;
}

.searchIcon {
    width: 40px;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.searchText {
    width:91.6%;
    margin-left: 41px;
}

.addtocarticon{
    width: 3%;
    font-size: larger;
    margin-left: 28.2%;
}
svg.MuiSvgIcon-root.carticon{
    font-size: 2.0rem;
    margin-top: 9px;
}


@media only screen and (max-width: 414px) and (max-height: 812px ) {
    .maintoolbar{
        width:80%;
        height: fit-content;
        margin-left: -1%;

    }

    .search {
        background-color: rebeccapurple;
        width: 9%;
        height: 100%;
    }

    .searchIcon{
        background-color: red;
        width: 20px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .searchText {
        background-color: white;
        width:290px;
        height: 40px;
        padding :10px;
        border: none;
        outline: none;
        display: none;
    }
}

@media only screen and (max-width: 414px) and (max-height: 812px ) {

    svg.MuiSvgIcon-root.bookIcon{
        font-size: 1.5rem;
    }

    h6.MuiTypography-root.title.MuiTypography-h6.MuiTypography-noWrap{
        font-size: 1.1rem;
    }

    .search {
        background-color: rebeccapurple;
        width: 9%;
        height: 100%;
    }
    .searchIcon{
        background-color: red;
        width: 20px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .searchText {
        background-color: white;
        width:290px;
        height: 40px;
        padding :10px;
        border: none;
        outline: none;
        display: none;
    }
}