.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #45A29E;
    color: white;
    text-align: center;
    font-size: 80%;
}

.adminfrontpage {
    display: flex;
    align-items: center;
    justify-content: center;
}